:root {
  --primary-color: #343ab4;
  --secondary-color: #808080;
}

* {
  color: var(--primary-color);
}

#root {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  background-color: whitesmoke;
  align-items: center;
  min-height: 100vh;
}

.enabled {
  background: var(--primary-color)
}

.disabled {
  background: var(--secondary-color)
}

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

body {
  font-family: "Lato", sans-serif;
}

.container {

  text-align: center;
}

@media (max-width:961px)  {
  #root{
    padding-bottom: 30px;
    flex-direction: column;
  }
  .image {
    height:30vh !important;
  }
  .profite_loss {
    width:100% !important;
  }
  .input_container {
    margin-inline: 30px !important;
  }
}

.image {
  height: 50vh;
}

.hide {
  display: none;
}


input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 90%;
  max-width: 340px;
  color: #000000;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
  margin: 10px;
}

#check-button {
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.image-container {
  text-align: center;
}

.profite_loss {
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
}

.output {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  width: 50%;
}
